<section class="bg-little-lens-light-600">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
		<div class="max-w-screen-lg text-gray-500 sm:text-lg">
			<h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900">
				Hi, I’m Gill,
			</h2>
			<p class="mb-4 font-light">
				I am a passionate childcare and kindy photographer in Melbourne,
				dedicated to capturing the joy, wonder and innocence of childhood. With
				over 10 years of experience in photographing children, I take a warm and
				patient approach, creating beautiful, natural images that families will
				cherish for a lifetime.
			</p>
			<p class="mb-4 font-light">
				I’d love to help you preserve these precious moments! Please contact me
				to book a session or learn more about my photography services.
			</p>

			<a
				href="/about"
				class="text-white bg-little-lens-green-900 hover:bg-little-lens-green-800 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
			>
				About me
			</a>
		</div>
	</div>
</section>
