<section class="bg-white">
	<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
		<h1
			class="mb-2 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl gradient"
		>
			<span class="inline-block h-12 -mb-1 fill-blue-500"
				><%- getSvg('logos/logo.svg') %></span
			>
			Little Lens
		</h1>
		<h2
			class="mb-10 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl"
		>
			Childcare Photography in Melbourne
		</h2>
		<p
			class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48"
		>
			Capturing precious moments of childhood with warmth and fun, Gill is a
			dedicated childcare photographer in Melbourne, specialising in natural,
			heartfelt images that families will treasure forever.
		</p>
	</div>
</section>
