<section class="antialiased">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
    <div class="flex flex-col gap-8 lg:items-center lg:gap-16 lg:flex-row">
      <div class="lg:max-w-xl xl:shrink-0">
        <div>
          <h1
            class="text-3xl font-extrabold leading-none tracking-tight text-gray-900 sm:text-5xl"
          >
            Little Lens - Childcare Photography in Melbourne
          </h1>
          <p
            class="mt-5 text-base font-normal text-gray-500 md:max-w-3xl sm:text-xl"
          >
            Capturing precious moments of childhood with warmth and fun, Gill is
            a dedicated childcare photographer in Melbourne, specialising in
            natural, heartfelt images that families will treasure forever.
          </p>
        </div>

        <div class="flex flex-col gap-4 mt-8 sm:flex-row">
          <a
            href="/register/"
            class="sm:w-[182px] inline-flex w-full justify-center items-center px-5 py-3 text-base font-medium text-center text-white bg-little-lens-green-900 border rounded-lg shrink-0 focus:outline-none hover:text-little-lens-green-100 hover:bg-little-lens-green-800"
            role="button"
          >
            Register your child
          </a>

          <a
            href="/childcare-photographer-melbourne/"
            class="sm:w-[182px] px-5 py-3 w-full text-base font-medium text-center text-white bg-little-lens-light-700 rounded-lg shrink-0 hover:bg-primary-800 hover:bg-little-lens-light-800"
            role="button"
          >
            Childcare Centres Info
          </a>
        </div>
      </div>

      <%- partial('partial/home/image-slider') %>
    </div>
  </div>
</section>
