<section class="" id="about">
	<div
		class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
	>
		<div class="font-light text-gray-500 sm:text-lg">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				Childcare Photography in Melbourne
			</h2>
			<p class="mb-4">
				At the heart of my childcare photography, lies the magic of play. I
				believe those genuine moments of joy are where true childhood memories
				are made. My approach to taking beautiful childcare / kindergarten
				photos is simple. We create a world where children are so immersed in
				fun and laughter, they completely forget about the camera. By fostering
				a relaxed and playful atmosphere, I allow their personalities to shine,
				resulting in natural, fun photographs.
			</p>
			<p class="mb-4">
				These candid moments, filled with wonder and joy, become timeless
				treasures for families to cherish.
			</p>
			<p class="mb-4">
				My childcare photography service is designed to be convenient and
				efficient, making a stress-free experience for your childcare centre /
				kindergarten and families. I handle everything from scheduling and
				communication to online gallery delivery, allowing you to focus on what
				matters most - the children. Parents will love the easy online ordering
				system and the high - quality prints they receive, creating lasting
				memories without any added stress.
			</p>
			<a
				href="/how-it-works/"
				class="text-white bg-little-lens-green-900 hover:bg-little-lens-green-800 focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
			>
				How it works
			</a>
		</div>
		<div class="grid grid-cols-2 gap-4 mt-8">
			<img
				class="w-full rounded-lg"
				src="/img/photo-3.jpg"
				loading="lazy"
				alt="Child Care Photographer Melbourne 1"
				width="400"
				height="600"
			/>
			<img
				class="mt-4 w-full lg:mt-10 rounded-lg"
				src="/img/photo-11.jpg"
				loading="lazy"
				alt="Child Care Photographer Melbourne 2"
				width="400"
				height="600"
			/>
		</div>
	</div>
</section>
