<section class="bg-white" id="about">
	<div
		class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
	>
		<div class="font-light text-gray-500 sm:text-lg">
			<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
				Hi, I’m Gill,
			</h2>
			<p class="mb-4">
				I am a passionate childcare and kindy photographer in Melbourne,
				dedicated to capturing the joy, wonder and innocence of childhood. With
				over 10 years of experience in photographing children, I take a warm and
				patient approach, creating beautiful, natural images that families will
				cherish for a lifetime.
			</p>
			<p class="mb-4">
				I’d love to help you preserve these precious moments! Please contact me
				to book a session or learn more about my photography services.
			</p>

			<a
				type="button"
				href="#contact"
				class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
			>
				Get in Touch
			</a>
		</div>
		<div class="grid grid-cols-2 gap-4 mt-8">
			<img
				class="w-full rounded-lg"
				src="/img/little-lens-2.jpg"
				loading="lazy"
				alt="Child Care Photographer Melbourne 1"
			/>
			<img
				class="mt-4 w-full lg:mt-10 rounded-lg"
				src="/img/little-lens-1.jpg"
				loading="lazy"
				alt="Child Care Photographer Melbourne 2"
			/>
		</div>
	</div>
</section>
