<div class="p-6 mb-6 text-gray-500 rounded-lg border border-gray-200">
	<a href="#" class="flex items-center mb-4">
		<div class="mr-3 shrink-0">
			<img
				class="mt-1 w-8 h-8 rounded-full"
				src="<%= url_for('img/gill.jpg') %>"
				alt="Gill Jürgens"
			/>
		</div>
		<div class="mr-3">
			<span class="block font-medium text-gray-900">Gill Jürgens</span>
			<span class="text-sm">Photographer</span>
		</div>
	</a>
	<p class="mb-4 text-sm text-gray-500">
		Hey! I'm Gill Jürgens. I'm a childcare and family photographer.
	</p>
	<dl class="mb-5">
		<dt class="mb-2 text-sm font-bold text-gray-900 uppercase">Phone</dt>
		<dd class="mb-3 text-sm text-gray-500">
			<a href="tel:" <%="config.tel" %>"><%= config.phone%></a>
		</dd>
	</dl>
	<dl class="mb-5">
		<dt class="mb-2 text-sm font-bold text-gray-900 uppercase">Location</dt>
		<dd class="mb-3 text-sm text-gray-500">Melbourne, Australia</dd>
	</dl>

	<a
		href="/contact"
		class="block text-white bg-little-lens-green-700 hover:bg-little-lens-green-800 hover:cursor-pointer focus:ring-4 focus:ring-little-lens-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none text-center w-full"
	>
		Email me
	</a>
</div>
