<div>
	<div
		class="flex justify-center items-center mb-3 w-full h-48 bg-gray-100 rounded-lg"
	>
		<img
			class="object-cover w-full h-full rounded-lg"
			src="<%= url_for('img/family-photos.jpg') %>"
			alt="Childcare Photography"
			loading="lazy"
			width="336"
			height="192"
		/>
	</div>
	<p class="mb-2 text-sm text-gray-500">
		Are you looking for a professional photographer to capture your family
		moments? I offer a range of photography services, including family
		photography, childcare photography, and more.
	</p>
	<a
		href="https://gill-photography.com.au/services/family"
		class="inline-flex items-center font-medium underline underline-offset-4 text-little-lens-green-600 hover:no-underline"
	>
		Find out more
	</a>
</div>
