<div class="p-4 mb-6 rounded-lg border border-gray-200">
	<h4 class="mb-2 text-sm font-bold text-gray-900 uppercase">
		Childcare Photography Information
	</h4>
	<p class="mb-4 text-sm text-gray-500">
		I specialise in professional photography for childcare centres and families,
		capturing authentic moments and the unique personalities of each child. My
		goal is to create high-quality images while making the experience fun and
		relaxed for everyone involved.
	</p>
	<a
		href="/childcare-photographer-melbourne"
		class="block text-white bg-little-lens-green-700 hover:bg-little-lens-green-800 hover:cursor-pointer focus:ring-4 focus:ring-little-lens-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none text-center w-full"
	>
		Info for Childcares/Kindergartens
	</a>
	<a
		href="/families-faqs"
		class="block text-white bg-little-lens-green-700 hover:bg-little-lens-green-800 hover:cursor-pointer focus:ring-4 focus:ring-little-lens-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none text-center w-full"
	>
		FAQs for Families
	</a>
</div>
