<h2>Have questions or want to know more?</h2>
<p>
	If you're curious about how Little Lens can capture beautiful, natural moments
	at your childcare centre, I'd love to chat. Whether you're after individual
	portraits, group shots, or candid memories, I’m here to help.
</p>
<p>
	📸 <a href="/contact">Get in touch</a> today or give me a call on
	<a
		href="tel:<%=
	config.tel %>"
		><%= config.phone %></a
	>
	— let’s make something special together.
</p>
