<section class="">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900">
			Frequently asked questions for Childcare Centres
		</h2>

		<div
			class="grid pt-8 text-left border-t border-gray-200 md:gap-16 md:grid-cols-2"
		>
			<%- renderFaqs(page._content) %>
		</div>
	</div>
</section>
