<section id="contact" class="">
	<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
		<h2
			class="mb-4 text-4xl tracking-tight font-sans font-extrabold text-center text-primary-700"
		>
			Contact Me
		</h2>
		<p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
			Do you have any questions about my services? Reach out and I'll get back
			to you as soon as possible.
		</p>
		<%- partial('partial/contact-form') %>
</section>
