<aside class="hidden md:block" aria-labelledby="sidebar-label">
	<div class="md:w-[250px] lg:w-[300px] xl:w-[336px] sticky top-6">
		<h3 id="sidebar-label" class="sr-only">Sidebar</h3>
		<!-- Contact -->
		<%- partial('partial/aside/contact') %>
		
		<!-- Info -->
		<%- partial('partial/aside/info') %>

		<!-- Latest Posts -->
		<%-partial('partial/aside/latest-posts') %>

		<!-- Family Photography -->
		<%- partial('partial/aside/family-photography') %>
	</div>
</aside>
