<header class="relative">
	<!-- <div
		class="hidden md:block overflow-hidden bg-gray-200 rounded-l-full absolute h-64 lg:h-80 w-3/4 lg:w-1/2 top-0 right-0"
	></div> -->
	<%- partial('partial/navigation') %>
</header>
