<div class="py-4 mt-4 sm:mt-12">
	<nav
		class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
	>
		<a
			href="<%- url_for() %>"
			class="mb-2 ml-4 text-2xl font-extrabold tracking-tight leading-none md:text-3xl lg:text-4xl gradient"
		>
			<span class="inline-block h-6 md:h-7 lg:h-8 -mb-1 fill-blue-500"
				><%- getSvg('logos/logo.svg') %></span
			>
			Little Lens
		</a>

		<ul
			id="nav"
			class="invisible opacity-0 uppercase flex flex-col z-100 fixed top-0 left-0 right-0 bottom-0 items-center gap-6 text-little-lens-green-800 text-2xl justify-center bg-gradient-to-b from-little-lens-green-400 to-little-lens-green-800 sm:visible sm:opacity-100 sm:static sm:flex-row sm:bg-none sm:flex-1 sm:justify-end sm:text-tittle-lens-green-100 sm:text-sm lg:gap-12 transition-all duration-700"
		>
			<% for(name in theme.menu) { %>
			<li class="text-little-lens-gray-500 hover:text-little-lens-gray-300">
				<a href="<%- url_for(theme.menu[name]) %>"><%= name %></a>
			</li>
			<% } %>
			<a
				href="/contact"
				class="bg-little-lens-green-900 text-little-lens-light-300 hover:bg-little-lens-green-800 rounded-md px-7 py-3 mr-4"
				>Get in touch</a
			>
		</ul>
		<div class="flex sm:hidden flex-1 justify-end mr-4 mb-2">
			<button type="button" id="hamburger" class="z-200">
				<svg
					class="w-6 h-6 text-gray-800"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M18 6H6m12 4H6m12 4H6m12 4H6"
					/>
				</svg>
			</button>
		</div>
	</nav>
</div>
